<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyA9XoBJW8U2rgAxENbghqNQbuCXcgGRi-o</string>
	<key>GCM_SENDER_ID</key>
	<string>235682226959</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.codingthecurbs.taxibuffer</string>
	<key>PROJECT_ID</key>
	<string>taxibuffer-83732</string>
	<key>STORAGE_BUCKET</key>
	<string>taxibuffer-83732.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:235682226959:ios:f378ceb26ec4b6a68b947a</string>
</dict>
</plist>